
.homediv{
  background-image: url('https://cdn.rentickle.com/skin/frontend/rentickle/lazy8/images/home_banner_bg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  color: white;
  height: calc((767/1927)*100vw);
}
